@import url(~semantic-ui-css/semantic.min.css);
body {
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.notesHeader,
.notesFooter {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 0;
}

.notesHeader {
  font-family: "Lobster", cursive;
}
.notesBody {
  padding: 20px;
  margin-top: 2px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.contentNotesList {
  width: 70%;
  overflow: auto;
}
.notesFooter {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
}
